<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogsite</title>
</head>
<body>

<nav>
{% if user.is_authenticated %}

<div>
    <h3>HEllO <b>{{user.username}}</b></h3>
    <a href="{% url 'posts_create' %}">Create Post</a>
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
  </form>  

</div>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
</nav>

{% block content %}
{% endblock %}
</body>
</html>